.fund-form,
.result-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
}

label {
  font-weight: bold;
  font-size: 1rem;
  color: #555;
}

input {
  width: 85%;
  margin: auto;
  padding: 0.6rem;
  font-size: 1rem;
  border: 1px solid #bbb;
  border-radius: 6px;
  text-align: center;
}

input[type="submit"] {
  width: 40%;
  padding: 0.6rem;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  transition: background 0.3s;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#scatter-submit {
  height: 5vh;
  width: 30vw;
  align-self: center;
  margin-top: 3vh;
}

@media (max-width: 600px) {
  input {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  input[type="submit"] {
    width: 50%;
  }
  
  #scatter-submit {
    height: 3.8vh;
  }
}
